
            <section id="contacts">
            <div class="page-content">
                <figure></figure><h2>Свяжитесь со мной
                    <figcaption>(сообщение отправит <a href="https://t.me/pro100lesha_bot" target="_blank">телеграмм бот</a>)</figcaption>
                    </figure></h2>                
                <form class="contact-form">
                    <input id="name" type="text" placeholder="Ваше имя" required>
                    <input id="tg" placeholder="Ваш телеграм (@ahsel001orp)" required>
                    <textarea id="message" placeholder="Ваше сообщение" required></textarea>
                    <button type="submit" class="submit-button" onclick="post_request()">Отправить</button>
                </form>
            </div>
        </section>
