
            <section id="contacts" class="page">
            <div class="page-content">
                <h2>Свяжитесь со мной</h2>
                <form class="contact-form">
                    <input type="text" placeholder="Ваше имя" required>
                    <input type="email" placeholder="Ваш email" required>
                    <textarea placeholder="Ваше сообщение" required></textarea>
                    <button type="submit" class="submit-button">Отправить</button>
                </form>
            </div>
        </section>
