
 <!--         <section id="home" class="page active"> -->  
            <section id="home">
                <div class="page-content">
                    <h1>Ключевые навыки по профессиям</h1>
                    <p>Здесь каждая деталь создает атмосферу тепла и комфорта</p>
                </div>
            </section>
<!--
            <section id="gallery" class="page">
                <div class="page-content">
                    <h2>Наша галерея</h2>
                    <div class="gallery-grid">
                        <div class="gallery-item"></div>
                        <div class="gallery-item"></div>
                        <div class="gallery-item"></div>
                    </div>
                </div>
            </section>
        -->
            